// COLORS
$primary-color: #6d28d9;
$secondary-color: #7c3aed;

$white-color: #fff;

$dark-grey: #1a1a1a;
$light-grey: #4a4a4a;

$dark-blue-text: #0f0f1e; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
